@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Centauri";
  src: url(./assets/fonts/Centauri/Centauri.otf) format("opentype");
}
@font-face {
  font-family: "digital_numbers";
  src: url(./assets/fonts/digital_numbers/fonts/DigitalNumbers-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Solaris";
  src: url(./assets/fonts/solaris/Solaris.otf) format("opentype");
}

@font-face {
  font-family: "Osiris";
  src: url(./assets/fonts/cm-osiris-futuristic-font-3966420/Osiris.otf) format("opentype");
}

@font-face {
  font-family: "Exodar";
  src: url(./assets/fonts/Exodar-Font/Exodar-Outline.ttf) format("truetype");
}

@font-face {
  font-family: "Giaza";
  src: url(./assets/fonts/Giaza-Stencil/Giaza\ Stencil.ttf) format("truetype");
}

@font-face {
  font-family: "minimal";
  src: url(./assets/fonts/minimal-gauge-font/MinimalGauge-7jXD.ttf) format("truetype");
}

@font-face {
  font-family: "quantum";
  src: url(./assets/fonts/quantum-font/Quantum-eZOXg.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */


  background-color: #000000;
   /* Fallback to pure black */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin-top: 30px !important;
  margin: 0;
  padding: 0 !important;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  /* border-color: #646cff; */
  border-color: purple;
  /* box-shadow: purple 0px 0px 10px, purple 0px 0px 20px, purple 0px 0px 30px; */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
